<dt style="padding:10px">
	{{name}}

	<button type="submit" class="btn btn-outline-light change-eat" data-id="{{this.id}}" data-neweat="{{eat}}">
		{{#if eaten}}EAT ME!{{else}}DELETE{{/if}}
	</button>

	<button type="submit" class="btn btn-outline-light delete-burger" data-id="{{this.id}}">
		DELETE
	</button>

</dt>